#maps {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.butt{
  width:20vw;
  height:20%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grape {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.displayCard {
  width:40vw;
  height:40%;
  margin:auto;
}